/* add button on bottom of admin list pages */
.btn-circle {
  line-height: normal;
  display: block;
  border-radius: 50%;
}

/* overwrite the class to prevent layout shifting each time a field gets error and resolve it */
.invalid-feedback {
  display: block;
  min-height: 30px;
}

.content {
  width: 80%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7rem;
}

