.btn-circle {
  line-height: normal;
  display: block;
  border-radius: 50%;
}

/* overwrite the class to prevent layout shifting each time a field gets error and resolve it */
.invalid-feedback {
  display: block;
  min-height: 30px;
}

.content {
  width: 80%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7rem;
}


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
